@model WebMailClient.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Gmail Web Client</h4>
<hr />
@{
    <div>
        <p>
            <img src="~/images/gmail-logo-icon.png" style="width:100px" />
        </p>
    </div>
}
